@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(210, 15%, 96%);
    --card: hsl(210, 15%, 96%);
    --popover: hsl(0, 0%, 100%);
    --primary: hsl(215, 50%, 30%);
    --secondary: hsl(190, 50%, 40%);
    --muted: hsl(210, 20%, 80%);
    --accent: hsl(40, 70%, 50%);
    --destructive: hsl(0, 70%, 60%);
    --border: hsl(210, 15%, 90%);
    --input: var(--border);
    --ring: var(--foreground);
    --radius: 0.5rem;
    --text-color: hsl(
      0,
      0%,
      0%
    ); /* Novo: Cor preta para textos no tema claro */
  }

  .dark-classic {
    --background: hsl(210, 15%, 10%);
    --foreground: hsl(210, 15%, 96%);
    --card: hsl(210, 20%, 30%) ;
    --primary: hsl(215, 50%, 30%);
    --secondary: hsl(190, 50%, 40%);
    --muted: hsl(210, 20%, 30%);
    --accent: hsl(40, 70%, 50%);
    --destructive: hsl(0, 70%, 60%);
    --border: hsl(210, 15%, 20%);
    --ring: hsl(210, 15%, 96%);
    --text-color: hsl(
      0,
      0%,
      100%
    ); /* Novo: Cor branca para textos no tema escuro */
  }

  .tangerine {
    --background: hsl(30, 95%, 90%);
    --foreground: hsl(210, 15%, 96%);
    --card: hsl(210, 15%, 96%);
    --primary: hsl(30, 95%, 50%);
    --secondary: hsl(210, 50%, 60%);
    --muted: hsl(210, 20%, 80%);
    --accent: hsl(40, 70%, 50%);
    --destructive: hsl(0, 70%, 60%);
    --border: hsl(210, 15%, 90%);
    --ring: hsl(210, 15%, 96%);
    --text-color: hsl(
      0,
      0%,
      0%
    ); /* Novo: Cor preta para textos no tema claro */
  }

  .dark-tangerine {
    --background: hsl(30, 95%, 10%);
    --foreground: hsl(0, 0%, 0%);
    --card: hsl(210, 20%, 30%);
    --primary: hsl(30, 95%, 50%);
    --secondary: hsl(210, 50%, 60%);
    --muted: hsl(210, 20%, 30%);
    --accent: hsl(40, 70%, 50%);
    --destructive: hsl(0, 70%, 60%);
    --border: hsl(210, 15%, 20%);
    --ring: hsl(210, 15%, 96%);
    --text-color: hsl(
      0,
      0%,
      100%
    ); /* Novo: Cor branca para textos no tema escuro */
  }

  .mint {
    --background: hsl(150, 40%, 85%);
    --foreground: hsl(210, 15%, 96%);
    --card: hsl(210, 15%, 96%);
    --primary: hsl(150, 70%, 40%);
    --secondary: hsl(120, 50%, 50%);
    --muted: hsl(210, 20%, 80%);
    --accent: hsl(40, 70%, 50%);
    --destructive: hsl(0, 70%, 60%);
    --border: hsl(210, 15%, 90%);
    --ring: hsl(210, 15%, 96%);
    --text-color: hsl(
      0,
      0%,
      0%
    ); /* Novo: Cor preta para textos no tema claro */
  }

  .dark-mint {
    --background: hsl(150, 40%, 10%);
    --foreground: hsl(0, 0%, 0%);
    --card: hsl(210, 20%, 30%);

    --primary: hsl(150, 70%, 40%);
    --secondary: hsl(120, 50%, 50%);
    --muted: hsl(210, 20%, 30%);
    --accent: hsl(40, 70%, 50%);
    --destructive: hsl(0, 70%, 60%);
    --border: hsl(210, 15%, 20%);
    --ring: hsl(210, 15%, 96%);
    --text-color: hsl(
      0,
      0%,
      100%
    ); /* Novo: Cor branca para textos no tema escuro */
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    color: var(--text-color); /* Aplicar a nova variável de cor do texto */
    overflow-x: hidden;
  }
}
